@font-face {
  font-family: 'gg';
  src: url('./assets/GeneralSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gil';
  src: url('./assets/Gilroy-ExtraBold.woff2') format('woff2');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    width: 100%;
    font-family: gg;
}
menu h3{
 cursor: pointer;
}

#contact-Us-Button button{
     transition: all  ease 0.5s ;
     border: 1px solid #dadada;
     
}
#contact-Us-Button button:hover{
  background: white;
  color: black;
  transform: scale(1.1);
}

.rainbow-text {
  font-size: 3em; /* Adjust as needed */
  font-weight: bold;
  background: linear-gradient(to right, red, orange,  green, yellow, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* From Uiverse.io by JaydipPrajapati1910 */ 
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #999;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(61, 106, 255);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
#Service-div h1 , p{
   font-family: Gil;
 
}

#Service-div p{
  font-weight: lighter;
  opacity: 0.7; 
}

#menu-wrapper h3 {
   font-family: gg;
   font-weight: 100;
}

#menu-options h3{
  transition: all 0.5s ease;
}
#menu-options:hover h3 {
  transform: translateY(-100%);
}


#calender {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  flex-wrap: wrap;
}

#week{
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  flex-wrap: wrap;
}
.days:hover{
  background-color: #FEEDD1;
}
.days{
 transition: background ease 0.2s;
cursor: pointer;
}

.div{
  transition: all ease 0.5s;
}
.clicked:hover .div{
    opacity: 100;
}
.Text_table{
  font-family: Gil;
  font-weight: 900;
  outline: none;

}

#Text_table:focus{
border: 2px solid black;

}
.Text_table:hover{
  border: 1px solid #dadada;
}

#task:hover{
  background:#eeeeee;
}
#task{
  cursor: pointer;
  transition: background ease 0.2s;
}

.porgress::before{
  content: " ";
  width: 80px;
  height: 12px;
  background: #7978ca;
  position: absolute;
  top: 0;
  border-radius: 10px;
}
.porgress-2::before{
  content: " ";
  width: 30px;
  height: 12px;
  background: #7978ca;
  position: absolute;
  top: 0;
  border-radius: 10px;
}

#menu {
  display: flex;
  opacity: 1;
}
#menu-button {
  display: none;
}
#sliding-window h3{
  transition: all 0.2s ease;
  cursor: pointer;
}
#sliding-window {
  transform: translateX(100%);

}

#sliding-window h3:hover {
   transform: translate(0, -10%);
   background-color: #f5f5f5;
}

.ri-close-large-fill{
  cursor: pointer;
  transition: all  ease 0.5s ;
}
.ri-close-large-fill:hover{
  background: white;
  color: black;
  transform: scale(1.1);
  border: 1px solid #dadada;
  
}

@media (max-width: 900px) {
  #main{
    overflow: hidden;
  }
  #menu {
    display: none;
  }
  #menu-button {
    display: block;
    opacity: 1;
  }

  #landing-page-right img {
   transform: scale(2); 
  }
  #landing-page-right {
       overflow: hidden; 
   }
   #contact-Us-Button{
    flex-direction: column;
   }
  #logo-div h1:nth-child(2){
      white-space: nowrap;
      font-size: 6vw;
   }
   #text_for_logo{
   display: none;
 }
 #text_for_tab{
  display: block;
  }
 #menu-wrapper{
    gap: 10px;
 }
 #page2-service{
  flex-direction: column;
 }
 #Service-div{
  width: 100%;
 }

}

@media (max-width: 480px) {
  #main{
    overflow: hidden;
  }
  .menu {
    display: none;
    opacity: 0;
  }
  .menu-button {
    display: block;
    opacity: 1;
  }

  #landing-page-right{
    display: none;
  }

   #contact-Us-Button{
    flex-direction: column;
   }
  #logo-div h1:nth-child(2){
      white-space: nowrap;
      font-size: 6vw;
   }
   #text_for_logo{
   display: none;
 }
 #text_for_tab{
  display: block;
  }
 #menu-wrapper{
    gap: 10px;
 }
 #page2-service{
  flex-direction: column;
 }
 #Service-div{
  width: 100%;
 }

 #nav{
  justify-content: space-around;
  padding: 0 10px;
 }




}